/* Reset de estilos */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-size: cover;
}
  
  header {
    display: flex;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
    background-color: #1b5c36;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li a.active {
    background-color: #555;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  #topicos p{
    font-size: 20px;
    
  }
  
  footer {
    
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    list-style-type: none;
    background-color: #1b5c36;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .button{
    display: inline-block;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 6px 22px;
    font-size: .8rem;
    line-height: 24px;
    background-color: #555;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  }

  .background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/background.jpg);
    background-size: cover;
    opacity: 50%;
    z-index: -1;
  }
  .titulo{
    color: #24814b;
  }

  .bg-body-tertiary{
    width: 23%;
  }


#fotoClima, #fotoClimaSor, #fotoClimaVot, #fotoClimaAra, #fotoClimaPie {
  width: 15%;
}


