#mapa{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#btns{
  display: flex;
  flex-direction: row;
}

#imgns{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 28.4%;
}

button{
  background-color: #1b5c36;
  color: white;
  border-collapse: collapse;
  border-color: #1b5c36;
}

button:hover{
  background-color:  #555;
}
