#topicos{
    display: flex;
    flex-direction: row;
}
.wrapper-topic{
    display: flex;
    flex-direction: column;
}
.wrapper-img{
    display: flex;
    flex-direction: column;
}

.txt{
    border: 3px ridge #1b5c36;
    background-color: antiquewhite;
}


img{

    border: 2px solid rgb(42, 41, 41);
    width: 250px;
    height: 200px;
}
