#topicos{
    display: flex;
    flex-direction: row;
}
.wrapper-topic{
    display: flex;
    flex-direction: column;
}
.wrapper-img{
    display: flex;
    flex-direction: column;
}

img{

    border: 2px solid rgb(42, 41, 41);
    width: 300px;
    height: 250px;
}
